.profile__button-change {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Vector.svg);
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    padding: 0;
    position: absolute;
    right: 0;
    top: 19px;
}

.profile__button-change:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .profile__button-change {
        top: 6px;
    }
}

@media screen and (max-width: 767px) {
    .profile__button-change {
        width: 18px;
        height: 18px;
        top: 10px;
        right: 19px;
    }
}