.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
    max-width: 880px;
    gap: 11px 17px;
}

@media screen and (max-width: 1023px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-width: 581px;
    }
}

@media screen and (max-width: 767px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
        max-width: 282px;
    }
}

